//must have

$article-color: black;
$h1-color: black;
$h2-color: black;
$h3-color: black;
$accent-1-color: blue;
$background-color: black;

$l-blue: #E2ECFE;
$blue: #4360FB;
$d-blue: #3B478A;
$dd-blue: #1D276E;
